body {
  color: #e8e7e9;
  background: #0c0d1d;
  font-family: "Inter", sans-serif;
  display: flex;
  height: auto;
  margin: 0;
}

h1 {
  font-family: "Inter", sans-serif;
  padding-top: 30px;
  padding-bottom: 15px;
}

.container {
  width: 420px;
  height: auto;
  background: #0c0d1d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.card {
  background-color: #111827;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

img {
  width: 80px;
  margin-bottom: 15px;
}

.gradient-text {
  background: linear-gradient(45deg, #1e90ff, #32cd32);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fw-bold {
  font-weight: bold !important;
}

.xsmall {
  font-size: 0.7rem;
}

.btn-back {
  margin-top: 20px;
}

.card {
  position: relative;
  z-index: 1;
  border: none;
  background-color: rgba(21, 255, 196, 0);
  filter: blur(0px);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/images/hero-bg-dark.png") no-repeat center center;
  background-size: cover;
  z-index: -1;
  opacity: 1;
}

.card-header,
.card-body,
.card-footer {
  border: none;
}

.container {
  padding: 0;
}

.card {
  margin: 0;
}

hr {
  border: 0;
  height: 3px;
  border-radius: 10px;
  background: linear-gradient(45deg, #11e5de, #00000000);
  background-size: 200% 200%;
  animation: gradient-animation 5s ease infinite;
}

.settings-container {
  background: rgba(0, 5, 5, 0.5);
  backdrop-filter: blur(50px);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form-check-label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.check-box {
  width: 40px;
  height: 20px;
  background: linear-gradient(45deg, #1e90ff, #32cd32);
  background-size: 200% 200%;
  border-radius: 20px;
  position: relative;
  margin-left: 105px;
  cursor: pointer;
  transition: 0.4s;
  animation: gradient-animation 2.5s ease infinite;
}

.check-box::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

input[type="checkbox"]:checked + .check-box {
  background: #00a57c;
  animation: none;
}

input[type="checkbox"]:checked + .check-box::after {
  left: 21px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.small {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  height: 0.03rem;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
}

[name="Rainbow"] {
  font-family: inherit;
  font-weight: bold;
}

[name="Rainbow"] {
  font-family: inherit;
  font-weight: bold;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#developer {
  font-family: inherit;
  color: #9a06b5;
  background: url(../assets/images/developer.gif) repeat 46px 27px;
  background-size: 87px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #92aeff, 1px 2px 0 #720187, 1px 1px 6px #720187, 1px 1px 9px #720187;
  position: relative;
  display: inline-block;
}

#developer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #51fff0, #fad0c4);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 1.5s ease infinite;
  z-index: 1;
}

#idea {
  animation: gradient-animation 2.5s ease infinite;
  font-weight: bold;
  background: linear-gradient(45deg, #ff7e5f, #feb47b);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2.5s ease infinite;
}

#code-fixer {
  font-weight: bold;
  background: linear-gradient(45deg, #00c9ff, #92fe9d);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2.5s ease infinite;
}

#designer {
  font-weight: bold;
  background: linear-gradient(45deg, #f953c6, #b91d73);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2.5s ease infinite;
}

#tester {
  font-weight: bold;
  background: linear-gradient(45deg, #ff6a00, #ee0979);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2.5s ease infinite;
}

#supporter {
  font-weight: bold;
  background: linear-gradient(45deg, #3a1c71, #d76d77, #ffaf7b);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2.5s ease infinite;
}

#documenter {
  font-weight: bold;
  background: linear-gradient(45deg, #fc5c7d, #6a82fb);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2.5s ease infinite;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/images/hero-bg-dark.png") no-repeat center center;
  background-size: cover;
  z-index: -1;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #2c2c2c;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 3px solid #2c2c2c;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

input:not(:checked) + .check-box {
  background: gray;
  animation: none;
}

.align-left {
  text-align: left !important;
}
.card-title,
.card-header h1,
.card-header img {
  text-align: center !important;
}

/* Start Toggle Button */
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 16px;
}

.toggle-text {
  font-weight: bold;
  color: #e8e7e9;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2c2c2c;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e8e7e9;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(45deg, #1e90ff, #32cd32);
  background-size: 200% 200%;
  animation: gradient-animation 5s ease infinite;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
/* End */

/* Start */
.contributor-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 16px;
}

.contributor-item {
  width: 100%;
  padding: 1px 0;
  margin: 7px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
