<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/inter.css" />
    <link rel="stylesheet" href="../assets/css/fontawesome/all.css" />
    <link rel="stylesheet" href="./styles/popup.css" />
  </head>
  <body>
    <div class="container">
      <div class="card text-center">
        <div class="card-header">
          <img src="../assets/icons/icon128.png" alt="Smartschool Score Improver Icon" />
          <h1 class="gradient-text fw-bold" style="font-size: 25px; padding: 0px; margin: 0px">
            Smartschool Score Improver
          </h1>
        </div>

        <div>
          <div class="settings-container">
            <h5 class="card-title gradient-text fw-bold">Settings</h5>
            <div class="toggle-container">
              <span class="toggle-text">Enable Score Improver</span>
              <label class="switch">
                <input type="checkbox" id="toggleScript" checked />
                <span class="slider"></span>
              </label>
            </div>
            <div class="toggle-container">
              <span class="toggle-text">Keep Red Points</span>
              <label class="switch">
                <input type="checkbox" id="toggleRedPoints" />
                <span class="slider"></span>
              </label>
            </div>

            <h5 class="card-title gradient-text fw-bold">Contributors</h5>
            <div class="contributor-container">
              <div class="card-text align-left">
                <a href="https://davidtanasescu.com/" target="_blank">
                  <span id="developer"><i class="fas fa-flip fas fa-code"></i> Developer</span>: David Tanasescu
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../scripts/popup.js"></script>
  </body>
</html>
