<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Smartschool Score Improver</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/animate.min.css" rel="stylesheet" />
    <link href="../assets/css/tailwindcss.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/fonts/inter.css" />
    <link rel="stylesheet" href="../assets/css/fontawesome/all.css" />
    <link rel="stylesheet" href="./styles/popup.css" />
    <style></style>
  </head>
  <body>
    <div class="container">
      <div class="card text-center">
        <div class="card-header">
          <img src="../assets/icons/icon128.png" alt="Smartschool Score Improver Icon" class="animate__bounceIn" />
          <h1 class="gradient-text fw-bold" style="font-size: 25px; padding: 0px; margin: 0px">Smartschool Score Improver</h1>
        </div>
        <div>
          <div class="settings-container">
            <h5 class="card-title gradient-text fw-bold">Settings</h5>
            <div class="setting-item align-left">
              <!-- enable score improver toggle -->
              <label class="form-check-label fw-bold animate__animated animate__fadeIn">
                Enable Score Improver
                <input type="checkbox" id="toggleScript" checked />
                <div class="check-box"></div>
              </label>
              <div style="color: #64748b" class="animate__animated animate__fadeIn">Do you want to toggle the extention?</div>
              <hr />
            </div>
            <h5 class="card-title gradient-text fw-bold">Contributors</h5>
            <div class="contributor-list">
              <!-- david tanasescu contributions -->
              <div class="card-text align-left">
                <a href="https://dfuze.vip/" target="_blank" class="animate__animated animate__fadeIn">
                  <span id="developer"><i class="fas fa-flip fas fa-code"></i> Developer</span>: David Tanasescu (dFuZe)
                </a>
              </div>
              <div class="card-text align-left">
                <a href="https://frenny.vip/" target="_blank" class="animate__animated animate__fadeIn">
                  <span id="documenter"><i class="fa-solid fa-lightbulb"></i> Ideas</span>: Fraon Defruyt (Frenny)
                </a>
              </div>
            </div>
          </div>
          <div class="card-footer align-left animate__animated animate__bounceInDown" style="padding-left: 25%; margin-top: 5px">
            <a href="https://dfuze.vip/extentions/smartschool-score-improver/privacy" target="_blank" class="xsmall"><span class="gradient-text fw-bold">Smartschool Score Improver</span> &copy; 2024</a>
          </div>
        </div>
      </div>
    </div>
    <script src="../scripts/popup.js"></script>
    <!--  ✅✅✅ Contributors ✅✅✅
    <div class="card-text align-left">
      <a href="#" target="_blank class="animate__animated animate__fadeIn">">
        <span name="rainbow"><i class="fa-solid fa-credit-card"></i> Donator</span>: Fraon Defruyt (Frenny)
      </a>
    </div>
    <div class="card-text align-left class="animate__animated animate__fadeIn">">
      <a href="#" target="_blank">
        <span id="code-fixer"><i class="fas fa-tools"></i> Code Fixer</span>: Jane Doe
      </a>
    </div>
    <div class="card-text align-left class="animate__animated animate__fadeIn">">
      <a href="#" target="_blank">
        <span id="designer"><i class="fas fa-paint-brush"></i> Designer</span>: Fraon Defruyt (Frenny)
      </a>
    </div>
    <div class="card-text align-left class="animate__animated animate__fadeIn">">
      <a href="#" target="_blank">
        <span id="tester"><i class="fas fa-vial"></i> Tester</span>: Emily Clark
      </a>
    </div>
    <div class="card-text align-left class="animate__animated animate__fadeIn">">
      <a href="#" target="_blank">
        <span id="supporter"><i class="fas fa-hands-helping"></i> Supporter</span>: Michael Brown
      </a>
    </div>
    <div class="card-text align-left class="animate__animated animate__fadeIn">">
      <a href="#" target="_blank">
        <span id="documenter"><i class="fas fa-file-alt"></i> Documenter</span>: Laura Johnson
      </a>
    </div>
    -->
  </body>
</html>
